@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import './mixins/responsive';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    overflow-y: auto;
    height: 100vh;
}

.App{
    width: 100%;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        background: transparent none;
        background-color: whitesmoke;
        border: solid 4px transparent;
	    border-right-width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ed6e0b;
    }
}
.background{
    z-index: -2;
    background-image: url("../../public/bg-test.png");
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.transfert{
    background-color: rgb(73, 173, 255) !important;
}
button.transfert{
    background-color: rgb(73, 173, 255) !important;
}
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     h2{
        width: 100%;
        text-align: center!important;
        background-color: #141414;
        color: whitesmoke;        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 35px;
        border-bottom: #242424 1px solid;
    }
  }
  
  .modal-box {
    background: white;
    padding: 0 0 0 0;
    border-radius: 12px;overflow: hidden;
    min-width: 300px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  .invisible{
    display: none;
  }
  .exception{
    position: fixed;
    button{
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: fit-content;
        text-align: center;
        gap: 10px;
        p{
            font-size: 22px;
            display: flex;
            align-items: center;
        }
    }
   
  }
  ul{
    max-width: 800px;
    width: 100%;
    list-style: none;
    max-height: 400px;
    overflow: auto;
    li.list{
        padding: 10px 20px;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        &:nth-child(even){
            background-color: #bdbdbd;
        }
    }
}
dialog,.exception{
    border: unset;
    width: 97%;
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: #121212;
        box-shadow: 1px 1px 15px 0  rgba(0, 0, 0, 0.479);
    color: whitesmoke;
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.849);
    }
    &.product{
        max-width: 500px ;
    }
    .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
        padding: 12px;
        line-height:30px;
        svg{
            cursor: pointer;
            &:hover{
                stroke: #ed6e0b;
            }
        }
        .container{
            height: 25px;
            display: flex;
            align-items: center;
            svg{
            margin-left: 5px;
            
        }
        }
        
        input{
            all: unset;
            padding: 5px 5px 2px 5px;
            height: 20px;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            color: whitesmoke;
            &.open{
                
                background-color: #4B4B4B;
            }
        }
    }
    .main{
        width: 100%;
        background-color: #242424;
        display: flex;
        row-gap: 16px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 15px 25px 15px;
        line-height: 1.5;
        font-size: 18px;
        &.add{
            flex-direction: column;
        }
        .item{
            display: flex;
            flex-direction: row;
            .label{
                color: #ed6e0b;
                margin-right: 12px;
            }

        }
        .container__input{
            display: flex;
            flex-direction: column;
            gap: 7px;
            
          
        }
        label{
            font-size: 18px;
        }
        input{
            width: 250px;
            height: 30px;
            font-size: 18px;
            padding-left: 5px;
            background-color: #4B4B4B;
            border: none;
            color: whitesmoke;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            &::placeholder{
                color: whitesmoke;
            }
            &:focus-visible{
                outline: 2px solid #ed6e0b;
            }
        }
    }
    .buttons__container{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 17px;
        @include desktop{
                flex-direction: row;

        }
        &.two{
            justify-content: flex-end;
            gap: 23px;
            button{
                text-align: center;
                justify-content: center;
                width: 120px;
            }
        }
        button{
            outline: none;
            border: none;
            padding: 7px;
            font-size: 18px;
            border-radius: 0;
            background-color: #ed6e0b;
            color: whitesmoke;
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;
            width: 250px;
            justify-content: center;
            @include desktop{
                width: unset;
            }
            svg{
                width: 20px;
            }
            &:hover{
                filter: brightness(1.3);
            }
            &:focus-visible,&:active{
                outline: none;
                border: none;
            }
        }
    }
}
.qr__container{
    width: 100vw;
    height: 100vh;
    padding: 90px 20px 0 20px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .child{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        background: white;
         padding: 16px ;
         width:300px;

          aspect-ratio: 1/1;
          max-height:500px;
          .text{
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            padding: 0 7px 5px 7px;
            line-height: 1.3;
            position: relative;
            text-align: center;
            &:after{

                content: "";
                position: absolute;
                background-color: #ed6e0b;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
            } 

          }
    }
    button{
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        height: 40px;
        margin-top: 15px;
        padding-top: 4px;
        text-align: center;
        font-size: 24px;
        background-color: #ed6e0b;
        font-weight: 400;
        color: white;
        &:hover{
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
    
}
.alert__container{
    width: 90%;
    max-width: 500px;
    padding: 20px 15px 10px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0 0 100vw 100vw #000000c9;
    background-color: #242424;
    z-index:150 ;
    display: none;
    &.open{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    button{
        all: unset;
        padding: 6px 15px;
        background-color: #ed6e0b;
        color: whitesmoke;
        cursor: pointer;
        &:hover{
            filter: brightness(1.3);
        }
    }
    .text{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        width: 100%;
        svg{
            stroke: #ed6e0b;

        }
        p{
            color: whitesmoke;
            text-align: center;
        }
    }
}
.validate{
    background-color: rgb(35, 143, 35)!important;
}
.delete{
    background-color: #ff2b2b!important;
}