@import '../mixins/responsive';

.home__component{
    width: 100%;
    height: calc(100vh);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: whitesmoke;
    gap: 25px;
    padding: 90px 25px 25px 25px;
    .input__container{
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        overflow: hidden;
        margin: 25px auto 0 auto;
        padding: 20px 20px 35px 20px;
            border-style: solid;
        color: white;
        gap: 15px;
        z-index: 2;
        border-width: 3px;
        border-image: linear-gradient(135deg, #ed6e0b 0%, rgba(255, 255, 255, 0) 12%, rgba(255, 255, 255, 0) 88%, #ed6e0b 100%)1;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            z-index: -1;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(26, 26, 26);
            filter: blur(40px) opacity(0.85) ;
        }
    }
    .list__container{
        width: 100%;
        max-width: 800px;
        height: calc(100%);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        overflow-Y:auto;
        overflow-x: hidden;
        gap: 3px;
        height: 100%;
        &::-webkit-scrollbar{
            padding-left: 5px;
            border-radius: 15px;
            background-color: #6e6e6e75;
        }
        &::-webkit-scrollbar-thumb{
            background-color: whitesmoke;
            border-radius: 15px;
        }
        .list__item{
            cursor: pointer;
            width: 100%;
            display: flex;
            gap: 15px;
            justify-content: space-between;
            background-color:#1f1e1e;
            color: whitesmoke;
            padding: 5px 15px;
            &:hover{
                filter: brightness(1.3);
            }
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item__name{
                flex: 1;
                height: 100%;
                justify-content: flex-start;
            }
            .item__ref{
                width: 25%;
                height: 100%;
            }
            .item__location{
                width: 25%;
                height: 100%;
            }
        }

    }
    label{
        z-index: 2;
        position: relative;
        font-size: 24px;
        width: 100%;
        display: block;
        line-height: 1.2;
        max-width: 450px;
        @include desktop{
            font-size: 30px;
        }
    }
    
        .subcontainer{
            display: flex;
            justify-content: space-between;
                height: 35px;
            
            width: 100%;
            max-width: 450px;
            background-color: whitesmoke;
            border-radius: 12px;
            @include desktop{
                height: 35px;
            }
            input{
                all: unset;
                color: rgb(24, 23, 23);
                font-size: 22px;
                width: 100%;
                padding-top: 1.8px;
                height: 35px;
                padding-left: 15px;
                &:focus-visible{
                    outline: unset;
                }
        }

    }
    button{
        all:unset;
        margin-top: 15px;
       width: 100%;
        cursor: pointer;
        background-color: #ed6e0b;
        color: whitesmoke;
        text-transform: uppercase;
        text-align: center;
        align-self: first baseline;
        display: flex;
        padding: 3px 0 0 0;
        font-size: 18px;
        align-items: center;
        justify-content: center;
        min-height: 35px;
        align-self: flex-end;
        font-weight: 400;
        max-width: 200px;
        margin-top: 20px;
        &:hover{
            filter: brightness(1.3);
        }
        svg{
            margin-left: 5px;
            margin-bottom: 5px;
            stroke-width: 1.5px;
            
        }

    }
    
}