@import '../mixins/responsive';
.loading__container{
    display: flex;
    align-items: center;
    padding-top: 100px;flex-direction: column;
    position: relative;
    
    &::after{
        content: "";
        position: fixed;
        width: 100vw;
        height: 150vh;
        background-color: #00000079;
    }
    p{
        margin-top: 30vh;
        z-index: 5;
        color: whitesmoke;
    }
    img{
        position: relative;
        z-index: 5;
        width: 150px;
        height: 150px;
        animation: rotation 3s ease-in-out infinite;
        filter: drop-shadow(0px 0px 40px #ffcdcd);
    }
}
@keyframes rotation {
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    80%{
        transform: rotate(-360deg);
    }

    100%{transform: rotate(-360deg);}
}
.blibliotheque__component{
    width: 100vw;
    padding: 90px 4px 0 4px;
    .invisible{
        display: none;
    }
    .qr__codes{
            all: unset;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 300px;
            margin: auto;
            margin-top: 15px;
            padding: 8px;
            text-align: center;
            font-size: 20px;
            background-color: #ed6e0b;
            font-weight: 400;
            color: white;
            
            &:hover{
                filter: brightness(1.2);
                cursor: pointer;
            }
    }
    &.text__alert{
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width:80%;
            max-width: 420px;
            padding: 20px 30px;
            background-color: rgb(34, 34, 34);
            font-size: 24px;
            line-height: 1.3;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-direction: column;
            color: whitesmoke;
            box-shadow: 1px 1px 40px 10px rgba(0, 0, 0, 0.61);
            svg{
                stroke: #ed6e0b;
            }
        }
    }
    &::-webkit-scrollbar{
        background-color: transparent;
        width:0;
        height: 8px;
        display: none;
        @include desktop{
            display: block;
        }
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ed6e0b;
        border-radius: 80px; @include desktop{
            display: block;
        }
    }
    table{
        position: relative;
        margin: 15px auto 50px auto;
        color: whitesmoke;
        z-index: 2;
        overflow-x: scroll;
            border-collapse: collapse;
            border-top: 1px solid #ed6e0b;
            border-bottom: 1px solid #ed6e0b;
            max-width: 900px;
            width: 99%;
  
           background-color: #1b1b1b;
            th{
                border-left: unset!important;
                @include desktop{
            border-left: 1px solid #ed6e0b !important;

                }
            }
            thead{
                color: #ed6e0b;
                th,td{
                    padding: 10px;
                }
            }
        th,td{
            font-weight: 400;
            border-collapse: collapse;
            height: 30px;
            padding: 8px 2.5px;
            border-top: 1px solid #ed6e0b;
            border-left: 1px solid #ed6e0b;

            min-width: 15px;
            overflow: hidden;
            font-size: 11px;
            text-wrap: wrap;
            word-break: break-all;
            text-align: center;
            .location{
                max-width: 90px;
            }
           @include desktop{
            border: 1px solid #ed6e0b;
            font-size: 17px;
            padding: 11px 7px;

           }
            &.name{
                max-width: 140px;
                min-width: 50px;
                padding: 10px 10px;
                cursor: pointer;
                font-size: 13px;
                text-wrap: wrap;
                word-break: break-all;
                @include desktop{
                    font-size: 17px;
                }
            }
            &.qt{
                color: #ed6e0b;
                &.alert{
                    color: whitesmoke;
                }
                span{
                    color: whitesmoke;
                    font-size: 12px;
                }
            }
            svg{
                cursor: pointer;
                @include desktop{
                    width: 25px!important;
                    height: 25px!important;
                }
            }
            a{
               color: whitesmoke;
            }
        }
        .alert{
            background-color: rgba(255, 78, 78, 0.473);
        }
    }
}
.action__container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
justify-content: center;
gap: 12px;
    button{
        margin: unset!important;
}
}
.midfy{
    width: 100%;
    height: auto!important;
    max-width: 450px;
}
.namep{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: 100%;
    .namepe{
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        line-height: 1.3;
        word-break:keep-all;
        text-overflow: ellipsis;
    }
    .qr{
        margin-right: 10px;
        height: 100%!important;
        aspect-ratio: 1/1!important;
    }
}