.loading__container {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  position: relative;
}
.loading__container::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 150vh;
  background-color: rgba(0, 0, 0, 0.4745098039);
}
.loading__container p {
  margin-top: 30vh;
  z-index: 5;
  color: whitesmoke;
}
.loading__container img {
  position: relative;
  z-index: 5;
  width: 150px;
  height: 150px;
  animation: rotation 3s ease-in-out infinite;
  filter: drop-shadow(0px 0px 40px #ffcdcd);
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  80% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.blibliotheque__component {
  width: 100vw;
  height: 100vh;
  padding: 90px 4px 0 4px;
}
.blibliotheque__component .invisible {
  display: none;
}
.blibliotheque__component .qr__codes {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 15px;
  padding: 8px;
  text-align: center;
  font-size: 20px;
  background-color: #ed6e0b;
  font-weight: 400;
  color: white;
}
.blibliotheque__component .qr__codes:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
.blibliotheque__component.text__alert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blibliotheque__component.text__alert .content {
  width: 80%;
  max-width: 420px;
  padding: 20px 30px;
  background-color: rgb(34, 34, 34);
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  color: whitesmoke;
  box-shadow: 1px 1px 40px 10px rgba(0, 0, 0, 0.61);
}
.blibliotheque__component.text__alert .content svg {
  stroke: #ed6e0b;
}
.blibliotheque__component::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 8px;
  display: none;
}
@media (min-width: 992px) {
  .blibliotheque__component::-webkit-scrollbar {
    display: block;
  }
}
.blibliotheque__component::-webkit-scrollbar-thumb {
  background-color: #ed6e0b;
  border-radius: 80px;
}
@media (min-width: 992px) {
  .blibliotheque__component::-webkit-scrollbar-thumb {
    display: block;
  }
}
.blibliotheque__component table {
  position: relative;
  margin: 15px auto 50px auto;
  color: whitesmoke;
  z-index: 2;
  overflow-x: scroll;
  border-collapse: collapse;
  border-top: 1px solid #ed6e0b;
  border-bottom: 1px solid #ed6e0b;
  max-width: 900px;
  width: 99%;
}
.blibliotheque__component table:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  filter: blur(20px) opacity(0.85);
}
.blibliotheque__component table th {
  border-left: unset !important;
}
@media (min-width: 992px) {
  .blibliotheque__component table th {
    border-left: 1px solid #ed6e0b !important;
  }
}
.blibliotheque__component table thead {
  color: #ed6e0b;
}
.blibliotheque__component table thead th, .blibliotheque__component table thead td {
  padding: 10px;
}
.blibliotheque__component table th, .blibliotheque__component table td {
  font-weight: 400;
  border-collapse: collapse;
  height: 30px;
  padding: 8px 2.5px;
  border-top: 1px solid #ed6e0b;
  border-left: 1px solid #ed6e0b;
  min-width: 15px;
  overflow: hidden;
  font-size: 11px;
  text-wrap: wrap;
  word-break: break-all;
  text-align: center;
}
.blibliotheque__component table th .location, .blibliotheque__component table td .location {
  max-width: 90px;
}
@media (min-width: 992px) {
  .blibliotheque__component table th, .blibliotheque__component table td {
    border: 1px solid #ed6e0b;
    font-size: 17px;
    padding: 11px 7px;
  }
}
.blibliotheque__component table th.name, .blibliotheque__component table td.name {
  max-width: 140px;
  min-width: 50px;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 13px;
  text-wrap: wrap;
  word-break: break-all;
}
@media (min-width: 992px) {
  .blibliotheque__component table th.name, .blibliotheque__component table td.name {
    font-size: 17px;
  }
}
.blibliotheque__component table th.qt, .blibliotheque__component table td.qt {
  color: #ed6e0b;
}
.blibliotheque__component table th.qt.alert, .blibliotheque__component table td.qt.alert {
  color: whitesmoke;
}
.blibliotheque__component table th.qt span, .blibliotheque__component table td.qt span {
  color: whitesmoke;
  font-size: 12px;
}
.blibliotheque__component table th svg, .blibliotheque__component table td svg {
  cursor: pointer;
}
@media (min-width: 992px) {
  .blibliotheque__component table th svg, .blibliotheque__component table td svg {
    width: 25px !important;
    height: 25px !important;
  }
}
.blibliotheque__component table th a, .blibliotheque__component table td a {
  color: whitesmoke;
}
.blibliotheque__component table .alert {
  background-color: rgba(255, 78, 78, 0.473);
}

.action__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 12px;
}
.action__container button {
  margin: unset !important;
}

.midfy {
  width: 100%;
  height: auto !important;
  max-width: 450px;
}

.namep {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  width: 100%;
}
.namep .namepe {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  line-height: 1.3;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.namep .qr {
  margin-right: 10px;
  height: 100% !important;
  aspect-ratio: 1/1 !important;
}/*# sourceMappingURL=bibliotheque.css.map */